.required::before {
  content: " *";    
  color: red;     
  font-weight: bold; 
}

.status-btn {
  border: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  
  transition: all 0.3s ease-in-out; 
}

.status-btn.active {
  background-color: #572cf2e6;
  color: #ffffff;
  box-shadow: 0 2px 8px rgba(87, 44, 242, 0.3); 
}

.status-btn.default {
  background-color: #ededede6;
  color: #000000;
}

.status-btn.default:hover {
  background-color: #e0e0e0;
}


.status-btn-teacher {
  border: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  
  transition: all 0.3s ease-in-out; 
}

.status-btn-teacher.active {
  background-color: #572cf2e6;
  color: #ffffff;
  box-shadow: 0 2px 8px rgba(87, 44, 242, 0.3); 
}

.status-btn-teacher.default {
  background-color: #ededede6;
  color: #000000;
}

.status-btn-teacher.default:hover {
  background-color: #e0e0e0;
}